<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="FrameWorks">
  <test thread-count="5" name="DataDrivenDriverScript">
    <classes>
      <class name="DriverFactory.DataDrivenDriverScript"/>
     
    </classes>
    
   </test>
   <test thread-count="5" name="HybridTest">
    <classes>
    
      <class name="DriverFactory.DriverScript"/>
    </classes>
  </test> 
</suite> 
